priority 0

snippet day "Tasks for a day"
== Objectives ==
=== Short term ===
* 
=== Long term ===
* 
== Tasks ==
* [ ] 
== Tasks for tomorrow ==
* 
== Bad things ==
* 
== Good things ==
* 
== Interesting findings ==
* 
== Doutbs ==
* 
endsnippet

